@import "tailwindcss";

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@layer utilities {
  .bg-safety-car-odd {
    background-image: repeating-linear-gradient(
      45deg,
      rgba(255, 215, 4, 0.8) 0 4px,
      transparent 4px 8px
    );
    background-size: 83.3px 83.3px;
  }

  .bg-virtual-safety-car-odd {
    background-image: repeating-linear-gradient(
      45deg,
      rgba(255, 215, 4, 0.6) 0 4px,
      transparent 4px 8px
    );
    background-size: 83.3px 83.3px;
  }
  .bg-safety-car-even {
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0 4px,
      rgba(255, 215, 4, 0.8) 4px 8px
    );
    background-size: 83.3px 83.3px;
  }

  .bg-virtual-safety-car-even {
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0 4px,
      rgba(255, 215, 4, 0.6) 4px 8px
    );
    background-size: 83.3px 83.3px;
  }
}